@model Courses.ViewModels.AboutViewModel

<h1>About Courses</h1>
This application allows you to manage courses.
<p></p>
Developed by @Model.Author
<p></p>
Count of courses offerred : @Model.Count
<p></p>
Average course fee is : @Model.AvgFee