<h1>About Courses</h1>
This application allows you to manage courses.
<p></p>
Developed by @ViewBag.Author
<p></p>
Count of courses offerred : @ViewBag.Count 
<p></p>
Average course fee is : @ViewBag.AvgFee 