@page
@model AspNetCoreDemo.Pages.UploadPhotoModel
@{
}


<h1>Upload Photo</h1>
<form enctype="multipart/form-data" method="post">
    Photo : <input type="file"  asp-for="Photo" />
    <p></p>
    <input type="submit" value="Upload" />
</form>